@font-face {
    font-family: 'Geometria-LightItalic';
    src: url('Geometria-LightItalic.woff2') format('woff2'),
        url('Geometria-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-BoldItalic';
    src: url('Geometria-BoldItalic.woff2') format('woff2'),
        url('Geometria-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-ExtraLightItalic';
    src: url('Geometria-ExtraLightItalic.woff2') format('woff2'),
        url('Geometria-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-ExtraBoldItalic';
    src: url('Geometria-ExtraBoldItalic.woff2') format('woff2'),
        url('Geometria-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-Thin';
    src: url('Geometria-Thin.woff2') format('woff2'),
        url('Geometria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ThinItalic';
    src: url('Geometria-ThinItalic.woff2') format('woff2'),
        url('Geometria-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-HeavyItalic';
    src: url('Geometria-HeavyItalic.woff2') format('woff2'),
        url('Geometria-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-MediumItalic';
    src: url('Geometria-MediumItalic.woff2') format('woff2'),
        url('Geometria-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria.woff2') format('woff2'),
        url('Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ExtraLight';
    src: url('Geometria-ExtraLight.woff2') format('woff2'),
        url('Geometria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Heavy';
    src: url('Geometria-Heavy.woff2') format('woff2'),
        url('Geometria-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Light';
    src: url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Italic';
    src: url('Geometria-Italic.woff2') format('woff2'),
        url('Geometria-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria-ExtraBold';
    src: url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('Georgia.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}
